.Carousel{
    position: relative;
    z-index: 2;
    margin:auto;
    margin-top: 25vh;
    display: flex
}
.Slider{
    width: 870px;
    height: 100px;
    color: rgb(110, 110, 110);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    padding-top: 10px;
}
.carouselButtons{
    background: none;
    border: none;
    color: #ccc;
}
.carouselSlide{
    cursor: pointer;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    transition: .5s
}
.arrowLeft{
    width:40px;
    height: 10px;
    background-size: 40px;
    background-image : url("https://daks2k3a4ib2z.cloudfront.net/5701419a1fdcb0fe29343740/570189451fdcb0fe293496dd_arrow%20left.png")
}
.arrowRight{
    width:40px;
    height: 10px;
    background-size: 40px;
    background-image: url("https://daks2k3a4ib2z.cloudfront.net/5701419a1fdcb0fe29343740/5703e47a9eaba6f4558027bc_arrow%20right.png")
}
.arrowDown{
    width: 4px;
    height: 16px;
    background-size: 4px;
    background-image: url("https://daks2k3a4ib2z.cloudfront.net/5701419a1fdcb0fe29343740/57018a40cc9cea590abb4ad5_arrow%20down.png");
    margin: auto;
    margin-top:10px;
    transition-duration: .3s
}
.arrowDownHover{
    width: 4px;
    height: 16px;
    background-size: 4px;
    background-image: url("https://daks2k3a4ib2z.cloudfront.net/5701419a1fdcb0fe29343740/57018a40cc9cea590abb4ad5_arrow%20down.png");
    margin: auto;
    margin-top:15px;
    transition: .3s
}
.carouselSlideZoom{
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.5);
        transition-duration: .5s;
        color:white
}