.Home{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.vidContainer{
    width: 100vw;
    background-color: black
}
.videoBackground{
    min-width: 100vw;
    overflow-y: hidden;
    position: relative;
}
.contactTab{
    position: absolute;
    top: 0px;
    right: 25px;
    z-index: 2;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: 50px;
    letter-spacing: 3px;
    cursor: pointer;
    padding: 0px
}
.aboutTab{
    position: absolute;
    top: 0px;
    left: 25px;
    z-index: 2;
    color: white;
    height: 100vh;
    writing-mode: vertical-lr;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 5px;
    cursor: pointer;
    padding: 0px;
    width: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transition-duration: .4s
}
.aboutTab:hover{
    width:60px;
    left: 15px;
    transition-duration: .4s
}
.aboutTab div, .contactTab div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}
.contactTab:hover{
    width:60px;
    right: 15px;
    transition-duration: .4s
}
.smallArrow{
    width:20px;
    height: 7px;
    background-size: 30px;
    background-image: url("https://daks2k3a4ib2z.cloudfront.net/5701419a1fdcb0fe29343740/570189451fdcb0fe293496dd_arrow%20left.png");
}

